<script
 src="https://lib.baomitu.com/ribbon.js/1.0.1/ribbon.min.js"
 integrity="sha384-xC0eH8k8Nq6WKXlooH5kB+xWjFX/08AfAgcGiKWXj4+kYvrRuDr9MU2+MTrx2Jc6"
 crossorigin="anonymous"
 size="150"
 alpha="0.5"
 zindex="-1"
 defer
></script>
<!-- <script
 src="/js/snow.js"
 defer
></script> -->
<script>
    (function(u, c) {
      var d = document, t = 'script', o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function(e) { c(e); }); }
      s.parentNode.insertBefore(o, s);
    })('//cdn.bootcss.com/pangu/4.0.7/pangu.min.js', function() {
      pangu.spacingPage();
    });
</script>
<script
    src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/nprogress/0.2.0/nprogress.min.js"
    integrity="sha384-WVrcwN/kiINFnwTi170GvMPVLHVBao1WfcXL/BZAK3VaUaaWX0OOsxMgCiFmrIb1"
    crossorigin="anonymous"
></script>
<link
    rel="stylesheet"
    href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/nprogress/0.2.0/nprogress.min.css"
    integrity="sha384-QUGa0w7S89w/V+840rnBtrQYyUEd1VHb88E0/8vc9FvgRy7b7wHlk8S+o0bNJcv0"
    crossorigin="anonymous"
/>
<script>
    NProgress.start();
    document.addEventListener("readystatechange", () => {
        if (document.readyState === "interactive") NProgress.inc(0.8);
        if (document.readyState === "complete") NProgress.done();
    });
</script>
{{ partial "music" . }}